<footer class="py-8 px-4 border-t border-gray-200">
  <ul class="flex justify-center mb-4 text-purple-500">
    <li class="mx-4"><a href="/about" class="hover:underline">About</a></li>
    <li class="mx-4"><a href="https://twitter.com/tkesgar" class="hover:underline">Twitter</a></li>
    <li class="mx-4"><a href="https://github.com/tkesgar" class="hover:underline">GitHub</a></li>
    <li class="mx-4"><a href="mailto:t.kesgar@outlook.com" class="hover:underline">Email</a></li>
  </ul>
  <p class="text-center text-sm text-gray-400">Last updated: {{ "now" | date: "%Y-%m-%d" }}</p>
</footer>
