@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');

html {
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}

body {
  color: #333;
  line-height: 1.42857;
}

a {
  color: #f33;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover, &:active {
    border-bottom-color: currentColor;
  }
}

ul {
  list-style-type: square;
  padding-inline-start: 1rem;
  text-align: left;

  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.header {
  text-align: center;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

.footer {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #888;
  text-align: right;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.avatar {
  width: 4rem;
  height: auto;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
}

.content {
  text-align: justify;
  hyphens: none;
}
